@color-primary_background: rgb(17, 17, 17);
@color-primary_font-color: white;

// @color-accent: rgb(249, 71, 151);
//@color-accent: rgb(230, 1, 103);
//@color-accent: #aa014c;
@color-accent: #E60167;
@blog-width: 820px;
@blog-description-font-size: 1.2rem;

@block-grey: rgb(51, 51, 51);
@block-accent: @color-accent;


.description {
    font-weight: bold;
    font-size: @blog-description-font-size;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}