@import "./colors.less";
@import "./reset.less";
@import "./typography.less";
@import "./blog.less";
@import "./home.less";
@import "./author.less";
@import "./organisation.less";
@import "./search.less";
@import "./comments.less";
@import "./header.less";
@import "./tag.less";

@header-height: 150px;

body,
html {
    height: 100%;
    overflow: hidden;
    font-family: Lato, 'Courier New', Courier, monospace;
}

.root {
    height: 100%;
    overflow: hidden;

    &--content {
        height: 100%;
        overflow: hidden;
        padding-top: calc(@header-height + 10px);
    }
}