@import "./colors.less";
@import "./reset.less";
@import "./typography.less";
@import "./blog.less";
@import "./home.less";
@import "./author.less";

@header-height: 104px;

body, html {
    height: 100%;
    overflow: hidden;
}

.root {
    height: 100%;
    overflow: hidden;
    &--content {
        height: 100%;
        overflow: hidden;
        padding-top: calc(@header-height + 10px);
    }
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: @color-primary_background;
    color: @color-accent;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @header-height;
    // border-bottom: 1px solid @color-accent;

    .header-root {
        img {
            height: 50px;
            margin-left: 2rem;
        }
    }

    .header-nav {
        width: 100%;
        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            li {
                display: inline-block;
                margin-right: 2rem;
                a {
                    color: @color-accent;
                    text-decoration: none;
                    font-weight: bold;
                }

                &.selected {
                    a {
                        color: orange;
                    }
                }

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}
