@import "./colors.less";
@import "./reset.less";
@import "./typography.less";
@import "./blog.less";
@import "./home.less";
@import "./author.less";

@header-height: 60px;

body,
html {
    height: 100%;
    overflow: hidden;
}

.root {
    height: 100%;
    overflow: hidden;

    &--content {
        height: 100%;
        overflow: hidden;
        padding-top: calc(@header-height + 10px);
    }
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: @color-primary_background;
    color: @color-accent;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: @header-height;

    .header-nav {
        width: 100%;

        &--logo {
            img {
                max-height: 50px;
                min-height: 50px;
                height: 50px;
            }
        }

        ul {
            list-style: none;
            display: flex;
            flex-direction: row;
            justify-content: center;
            text-align: center;

            li {
                display: inline-block;
                margin-right: 2rem;
                position: relative;
                width: 100px;

                a {
                    color: @color-accent;
                    text-decoration: none;
                    font-weight: bold;
                    width: 100%;
                    text-align: center;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }

                &.selected {
                    a {
                        color: orange;
                    }
                }

                &:hover {
                    text-decoration: underline;
                }


            }
        }
    }
}