@import "./colors.less";

@font-face {
	font-family: baton-black;
	src: url("Baton-Black.otf");
}

h1 {
	font-size: 39.81px;
	line-height: 40px;
	margin: 0 0 30px;
	color: @color-accent;
	font-weight: 900;
	font-family: Lato;
}

h2.title {
	font-family: baton-black;
	text-transform: uppercase;
	color: @color-accent;
	font-weight: 900;
	text-align: center;
}

h2 {
	font-size: 33.18px;
	font-weight: 900;
	line-height: 30px;
	margin: 0 0 24px;
	padding: 12px 0 0;
	font-family: Lato;
}

h3 {
	font-size: 27.65px;
	font-weight: 900;
	line-height: 30px;
	margin: 0 0 24px;
	padding: 12px 0 0;
}

p,
a,
ul,
ol,
li,
pre,
code {
	font-size: 1rem;
	line-height: 24px;
}

p {
	margin: 0 0 24px;
	text-align: justify;
}

a {
	text-decoration: none;
	color: inherit;
}

a.accented {
	color: @color-accent;
}

a.hover {
	&:hover {
		text-decoration: underline;
		color: @color-accent;
	}
}