@import "./colors.less";

@font-face {
	font-family: baton-black;
	src: url("Baton-Black.otf");
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	src: url('lato-v23-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('lato-v23-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('lato-v23-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
	url('lato-v23-latin-regular.woff') format('woff'), /* Modern Browsers */
	url('lato-v23-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
	url('lato-v23-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 700;
	src: url('lato-v23-latin-700.eot'); /* IE9 Compat Modes */
	src: local(''),
	url('lato-v23-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	url('lato-v23-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
	url('lato-v23-latin-700.woff') format('woff'), /* Modern Browsers */
	url('lato-v23-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
	url('lato-v23-latin-700.svg#Lato') format('svg'); /* Legacy iOS */
}


h1 {
	font-size: 39.81px;
	line-height: 40px;
	margin: 0 0 30px;
	color: @color-accent;
	font-weight: 900;
	font-family: Lato;
}

h2.title {
	font-family: baton-black;
	text-transform: uppercase;
	color: @color-accent;
	font-weight: 900;
	text-align: center;
}

h2 {
	font-size: 33.18px;
	font-weight: 900;
	line-height: 30px;
	margin: 0 0 24px;
	padding: 12px 0 0;
	font-family: Lato;
}

h3 {
	font-size: 27.65px;
	font-weight: 900;
	line-height: 30px;
	margin: 0 0 24px;
	padding: 12px 0 0;
}

p,
a,
ul,
ol,
li,
pre,
code {
	font-size: 1rem;
	line-height: 24px;
}

p {
	margin: 0 0 24px;
	text-align: justify;
}

a {
	text-decoration: none;
	color: inherit;
}

a.accented {
	color: @color-accent;
}

a.hover {
	&:hover {
		text-decoration: underline;
		color: @color-accent;
	}
}